# Arquivos de IDEs e Ferramentas de Desenvolvimento
.idea/
.vscode/
.devcontainer/

# Arquivos de Ambiente Python
# Pastas de ambiente virtual
.venv/
**/__pycache__/
*.pyc
data/__pycache__/sobre.cpython-313.pyc
media

# Arquivos de Credenciais e Configurações Locais
.streamlit/secrets.toml

# Outrs versões da base de dados do Vox
data/fontes_dados/

# Funções ainda em desenvolvimento
changelog_generator.py