--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.9.0
transformers==4.57.1
sentence_transformers==5.1.2

streamlit
google-generativeai
sentence_transformers
huggingface_hub[hf_xet]

gspread
google-auth-oauthlib
google-api-python-client

python-dotenv